#exercise-search-page-body {
    position: relative;
    overflow: hidden;
    background-color: var(--default-primary-background);
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    height: 60rem;
    max-height: 90vh;
}
#exercise-search-page-searchbox {
    position: inherit;
    box-sizing: border-box;
    height: 3.75rem;
    width: auto;
    z-index: 1;
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    border: 0.2rem solid var(--default-primary-border);
}

#exercise-search-page-searchbox input {
    font-size: 1.125rem;
    outline: none;
    padding: 0;
    min-width: 13.125rem;
    width: 30vw;
    max-width: 35rem;
    height: 3rem;
    border: none;
    background-color: white;
}

#exercise-search-page-searchbox button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    right: 0;
    margin-right: 1rem;
    margin-left: 1rem;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
    background-color: white;
    border: none;
    border-radius: 50%;
}
#exercise-search-page-searchbox button:hover {
    background-color: var(--default-primary-background);
}
#exercise-search-page-searchbox button img {
    height: 1.5rem;
}

#exercise-search-page-searchbox:focus-within {
    border: 0.2rem solid var(--default-primary-blue);
}

#exercise-search-page-choices {
    z-index: 1;
    padding: 0.4rem;
    margin: 1rem;
    margin-top: 0;
    display: flex;
    background-color: white;
    border-radius: 10px;
}

#exercise-search-page-choices button {
    color: var(--default-primary-text);
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    min-width: 6rem;
    width: 7rem;
    max-width: 10rem;
    padding: 1rem;
    height: 2rem;
    background-color: white;
    transition: filter 0.1s;
}

#exercise-search-page-choice-cardio {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#exercise-search-page-choice-strength {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.exercise-search-page-choice-button {
    border: none;
}

.exercise-search-page-choice-button-active {
    border: none;
    filter: brightness(80%);
    border-color: var(--default-secondary-text);
}

#exercise-search-island {
    backdrop-filter: blur(0);
    filter: drop-shadow(0 6px 9px rgba(0, 0, 0, 0.363));
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 4vh;
    padding-bottom: 4vh;
    background-color: white;
    min-width: 15rem;
    width: 40vw;
    max-width: 40rem;
    min-height: 20vh;
    height: 30rem;
    max-height: 50vh;
}

#exercise-search-island ul {
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0;
    max-height: 50vh;
    width: 90%;
    overflow: auto;
}

#exercise-search-island ul li {
    transition: filter 0.1s;
    cursor: pointer;
    width: 85%;
    padding: 0.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    margin-bottom: 1rem;
    background: var(--default-primary-background);
    border-radius: 10px;
}

#exercise-search-island ul li:nth-child(odd) {
    background: white;
}

#exercise-search-island ul li:hover {
    filter: brightness(90%);
}

#exercise-search-island ul li h4 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    color: var(--default-primary-text);
    font-size: 1rem;
}

#exercise-search-island ul li p {
    padding: 0;
    margin-bottom: 0.75rem;
    margin-top: 0;
    color: var(--default-secondary-text);
    font-size: 0.75rem;
}

#exercise-search-island-number {
    padding: 0;
    margin: 0;
    margin-top: -1rem;
    margin-bottom: 1rem;
    align-self: flex-start;
    color: var(--default-secondary-text);
}

#exercise-search-island #exercise-search-refine-message {
    cursor: default;
    text-align: center;
    background-color: white;
}
#exercise-search-island #exercise-search-refine-message:hover {
    filter: none;
}

#exercise-search-page-round-background-decoration {
    position: absolute;
    z-index: 0;
    bottom: 70%;
    background-color: var(--exercise-primary-red);
    height: 100rem;
    max-height: 80vh;
    width: 250rem;
    max-width: 200vw;
    border-radius: 50%;
}

#exercise-search-page-bottom-top-banner-background-decoration {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 15vh;
    background-color: var(--exercise-secondary-red);
}

#exercise-search-page-bottom-bot-banner-background-decoration {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 6vh;
    background-color: var(--exercise-tertiary-red);
}

@media screen and (max-width: 800px) {
    #exercise-search-page-body input {
        width: 50vw;
    }
    #exercise-search-island {
        width: 50vw;
    }
    #exercise-search-page-round-background-decoration {
        max-height: 30vh;
    }
}

@media screen and (max-width: 500px) {
    #exercise-search-page-searchbox {
        height: 4.25rem;
        border-radius: 3rem;
    }
    #exercise-search-page-searchbox input {
        font-size: 1.5rem;
        min-width: 13.125rem;
        width: 50vw;
        max-width: 35rem;
        height: 2rem;
    }

    #exercise-search-page-searchbox button {
        margin-right: 1rem;
        height: 3rem;
        width: 3rem;
    }

    #exercise-search-page-searchbox button img {
        height: 1.5rem;
    }

    #exercise-search-island {
        width: 70vw;
    }

    #exercise-search-island ul li h4 {
        font-size: 1.125rem;
    }

    #exercise-search-island ul li p {
        font-size: 0.875rem;
    }
}
