#barcode-page-body {
    position: relative;
    overflow: hidden;
    background-color: var(--default-primary-background);
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    height: 60rem;
    max-height: 90vh;
}

#barcode-island {
    backdrop-filter: blur(0);
    filter: drop-shadow(0 6px 9px rgba(0, 0, 0, 0.363));
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 4vh;
    padding-bottom: 4vh;
    background-color: white;
    min-width: 15rem;
    width: 40vw;
    max-width: 40rem;
    min-height: 20vh;
    height: 30rem;
    max-height: 50vh;
}

#barcode-scanner-container {
    width: 30rem;
    height: 30rem;
}

#barcode-page-searchbox {
    justify-self: flex-end;
    position: inherit;
    box-sizing: border-box;
    height: 3.75rem;
    width: auto;
    z-index: 1;
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    border: 0.2rem solid var(--default-primary-border);
}
#barcode-page-searchbox input {
    font-size: 1.125rem;
    outline: none;
    padding: 0;
    margin-left: 1.5rem;
    min-width: 13.125rem;
    width: 30vw;
    max-width: 35rem;
    height: 3rem;
    border: none;
    background-color: white;
}
#barcode-page-searchbox button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    right: 0;
    margin-right: 1rem;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
    background-color: white;
    border: none;
    border-radius: 50%;
}
#barcode-page-searchbox button:hover {
    background-color: var(--default-primary-background);
}
#barcode-page-searchbox button img {
    height: 1.5rem;
}
#barcode-page-searchbox:focus-within {
    border: 0.2rem solid var(--default-primary-blue);
}

#barcode-page-round-background-decoration {
    position: absolute;
    z-index: 0;
    bottom: 70%;
    background-color: var(--food-primary-green);
    height: 100rem;
    max-height: 80vh;
    width: 250rem;
    max-width: 200vw;
    border-radius: 50%;
}

#barcode-page-bottom-top-banner-background-decoration {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 15vh;
    background-color: var(--food-secondary-green);
}

#barcode-page-bottom-bot-banner-background-decoration {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 6vh;
    background-color: var(--food-tertiary-green);
}

@media screen and (max-width: 800px) {
    #barcode-scanner-container {
        width: 80vw;
    }
    #barcode-page-body input {
        width: 55vw;
    }
    #barcode-island {
        width: 80vw;
    }
    #barcode-page-round-background-decoration {
        max-height: 30vh;
    }
}

@media screen and (max-width: 500px) {
    #barcode-page-searchbox {
        height: 4.25rem;
        border-radius: 3rem;
    }
    #barcode-page-searchbox input {
        font-size: 1.5rem;
        min-width: 13.125rem;
        width: 60vw;
        max-width: 35rem;
        height: 2rem;
        border: none;
        background-color: white;
    }

    #barcode-page-searchbox button {
        margin-right: 1rem;
        height: 3rem;
        width: 3rem;
    }

    #barcode-page-searchbox button img {
        height: 1.5rem;
    }
    #barcode-island {
        width: 90vw;
    }
}

@media screen and (max-width: 500px) {
    #barcode-page-searchbox {
        height: 4.25rem;
        border-radius: 3rem;
    }
    #barcode-page-searchbox input {
        font-size: 1.5rem;
        min-width: 13.125rem;
        width: 60vw;
        max-width: 35rem;
        height: 2rem;
        border: none;
        background-color: white;
    }

    #barcode-page-searchbox button {
        margin-right: 1rem;
        height: 3rem;
        width: 3rem;
    }

    #barcode-page-searchbox button img {
        height: 1.5rem;
    }
}
